In [16]:
#prepare

#DataFrame
import pandas as pd

#plotting
import matplotlib.pyplot as plt
import seaborn as sns

#nltk
import nltk
from nltk.corpus import stopwords

#tensorflow keras
from keras.preprocessing.text import Tokenizer

#utility
import numpy as np
import re

In [3]:
#read Dataset
df = pd.read_csv("merger_data_bahasa_gaul.csv")
df.shape

(1481, 2)

In [4]:
df.isnull().sum()

Singkatan    0
Kata         0
dtype: int64

In [8]:
df.head(10)

  Singkatan                       Kata
0       7an                     tujuan
1         @            di
2    ababil      abg labil
3      abis         habis
4       acc        accord
5        ad           ada
6     adlah        adalah
7      adlh        adalah
8      adoh          aduh
9     afaik  as far as i know

In [12]:
df.tail(30)

,Singkatan,Kata
1451,fyp,for your page (halaman untuk anda)
1452,get back,kembali
1453,glow up,Perubahan fisik atau mental yang menjadi lebih...
1454,hectic,sibuk
1455,hence,"oleh karena itu, oleh sebab itu"
1456,idc,i dont care (saya tidak peduli)
1457,idk,saya tidak tahu
1458,improvement,peningkatan
1459,income,pendapatan
1460,revenue,pendapatan
1461,let's say,katakanlah
1462,like-unlike,seperti-tidak seperti
1463,little,kecil
1464,Cepmek,Cepak mekar (Model potongan rambut cepak/pende...
1465,Rungkad,rungkad berasal dari bahasa sunda. arti rungka...
1466,Shibal,"Shibal kosakata berasal dari Korea, Arti sibal..."
1467,klebus,basah kuyup (terkena air)
1468,kok iso yo,kok bisa ya
1469,teteg ati,ketegaran hati
1470,ojo dibandingke,jangan dibandingkan
1471,slay,"Dalam kamus bahasa Inggris, Slay mempunyai art..."
1472,purel,wanita penghibur / kupu kupu malam
1473,mangku purel,memangku kupu kupu malam / wanita penghibur
1474,new year new me,tahun baru (dan) aku yang baru. Makna Arti kat...
1475,1per365,1/365 adalah 1 dari 365 hari dalam satu tahun ...
1476,mixue,Mixue berasal bahasa China yang terdiri dari d...
1477,323,"3 adalah E, 2 adalah W, 3 adalah E, jadi arti ..."
1478,asbsm,aku sayang banget sama mu
1479,my shampoo and conditioner ran out at the same...,seseorang yang sudah di kondisi lelah dalam me...
1480,pardon me,"sorry, excuse me, dan pardon me merupakan kata..."

In [52]:
text = "train."
print(len(text.split()))

1

In [41]:
singkatan_arr = []
kata_arr = []
y = 0
for x in df.index:
    if len(df.loc[x,'Singkatan'].split()) == 1:
        singkatan_arr.append(df.loc[x,'Singkatan'])
        kata_arr.append(df.loc[x,'Kata'])
        y +=1
print(y)

1463

In [36]:
print(len(df.loc[1480,'Singkatan'].split()))

2

In [35]:
df.tail()

,Singkatan,Kata
1476,mixue,Mixue berasal bahasa China yang terdiri dari d...
1477,323,"3 adalah E, 2 adalah W, 3 adalah E, jadi arti ..."
1478,asbsm,aku sayang banget sama mu
1479,my shampoo and conditioner ran out at the same...,seseorang yang sudah di kondisi lelah dalam me...
1480,pardon me,"sorry, excuse me, dan pardon me merupakan kata..."

In [42]:
new_df = pd.DataFrame({
    "singkatan": singkatan_arr,
    "kata": kata_arr})

new_df.shape

(1463, 2)

In [51]:
for x in new_df.index:
    if new_df.loc[x, 'singkatan'] == "utk":
        print(new_df.loc[x,'singkatan'])

utk

In [53]:
new_df =df.to_csv("singkatan_1_kata.csv",index = False)